# Dwield Passkey Server base URL
VITE_PASSKEY_SERVER_URL=http://localhost:3000

# Default API key for tenant authentication testing
VITE_DWIELD_API_KEY=000000000

# Dwield Risk Engine URL (used internally by the SDK)
VITE_RISK_ENGINE_URL=https://testweb.dwield.ai:8762
